---
layout: page
title: Category
permalink: /category/
---

{% for category in site.categories %}
<div class="category-tag">{{ category | first }} ({{ category | last | size
  }})</div>
<ul class="post-list">
  {% assign cat = category[0] %} 
  {% for post in site.categories[cat] %}
  <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{
      post.title }}</a><span class="post-meta">&lt&lt {{ post.date | date:
      "%Y-%m-%d" }}</span></li>
  {% endfor %}
</ul>
{% endfor %}
