<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="wrapper">
      {% include header.html %}

      {% include nav.html %}

      {{ content }}
    </div>

    {% include footer.html %}

    <script src="js/scale.fix.js"></script>
    <!-- MathJax Support -->
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  </body>

</html>
